SHEET_ID=12YxYgetu4pyqHdbT0NL1NBFiCdGJEo7N
ATM_REGISTRY_GID=2053419249
ATM_HISTORY_GID=913700150
KASSA_REGISTRY_GID=1755061160
KASSA_HISTORY_GID=1963259370
FRONTEND_ORIGINS=http://localhost:8080,https://your-frontend.vercel.app
FRONTEND_ORIGIN_REGEX=https://.*\\.vercel\\.app
